    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url("../public/fonts/Montserrat/static/Montserrat-Bold.ttf");
    }
    
    @font-face {
        font-family: Staatliches;
        src: url("../public/fonts/Staatliches/Staatliches-Regular.ttf");
    }
    
    @font-face {
        font-family: Trispace;
        src: url("../public/fonts/Trispace/static/Trispace/Trispace-Light.ttf")
    }
    
    @font-face {
        font-family: Paytone;
        src: url("../public/fonts/Paytone/PaytoneOne-Regular.ttf")
    }
    
    @font-face {
        font-family: Meaven;
        src: url("../public/fonts/Maven_Pro/static/MavenPro-Regular.ttf")
    }
    
    .text--block::before {
        content: 'H';
        display: flex;
        font-size: 426px;
        transition: all 0.5s ease;
        border: 2px solid red;
        color: #ffc900;
        -webkit-text-stroke: 2px black;
    }
    
    @keyframes mymove {
        from {
            font-size: 426px;
        }
        to {
            font-size: 0px;
            transform: translateX(-500px)
        }
    }
    
    .text--block:hover::before {
        color: transparent;
        -webkit-text-stroke: 2px transparent;
        font-size: 0px;
        animation: mymove 3s infinite;
    }
    
    .content--container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 454px;
        height: 463px;
        background-color: #ffc900;
        transition: all 0.5s ease;
        color: #ffc900;
        -webkit-text-stroke: #ffc900;
    }
    /* .content--container:hover {
        color: white
    } */
    
    @keyframes houdini {
        0% {
            transform: translateX(300px);
            visibility: hidden;
        }
        100% {
            font-size: 75px;
            transform: translateX(0px);
        }
    }
    /* .fade {
        position: relative;
        width: 100%;
        min-height: 35vh;
        top: 70px;
        color: yellow;
        background: linear-gradient(0deg, transparent, red 75%);
        transition-delay: 5s;
        transition: 5s ease-in-out;
        z-index: 100;
    } */
    
    .star-wars {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 200px;
        height: 100vh;
        width: 100vw;
        color: #feda4a;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 500%;
        font-weight: 600;
        letter-spacing: 6px;
        line-height: 150%;
        perspective: 200px;
        text-align: justify;
        z-index: 100;
    }
    
    .crawl {
        position: relative;
        top: 9999px;
        transform-origin: 50% 100%;
        animation: crawl 60s linear;
    }
    
    .crawl>.title {
        font-size: 90%;
        text-align: center;
    }
    
    .crawl>.title h1 {
        margin: 0 0 100px;
        text-transform: uppercase;
    }
    
    @keyframes crawl {
        0% {
            top: 700px;
            transform: rotateX(20deg) translateZ(0);
        }
        100% {
            top: -6000px;
            transform: rotateX(25deg) translateZ(-2500px);
        }
    }
    
    .carousel {
        width: 550px;
        height: 250px;
    }
    
    html {
        scroll-behavior: smooth;
    }